<mat-card>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <button mat-raised-button routerLink="/customers-form" style="float:right">
                <mat-icon>library_add</mat-icon>
            </button>
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
                </ng-container>

                <ng-container matColumnDef="subs">
                    <th mat-header-cell *matHeaderCellDef> Subscription </th>
                    <td mat-cell *matCellDef="let element"> {{element.subsList.join(', ')}} </td>
                  </ng-container>
                 <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>


                <!-- <ng-container matColumnDef="presence">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox *ngIf="element.presence" checked disabled></mat-checkbox>
                        <mat-checkbox *ngIf="!element.presence" (change)="checkBoxChange(element.id)"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.attStatus">
                            <mat-icon class="check-bold mr-4"
                                style="color: rgb(0, 202, 0); margin-left: 1em;">check_circle</mat-icon>
                        </ng-container>
                        <ng-container *ngIf="!element.attStatus">
                            <mat-icon class="check-bold mr-4"
                                style="color: rgb(255, 0, 0); margin-left: 1em;">cancel</mat-icon>
                        </ng-container>
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button routerLink="{{element.id}}/edit/">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button (click)="delete(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container> 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>